body {
	background-color: black;
	margin: 0;
	padding: 0;

}

.x {
	color:red;
	position:absolute;
	left: 120;
	top: 210px;
	font-size: 35px;
	font-family: "helvetica";
	text-decoration: none;

}
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

.circle {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: yellow;
	position:absolute;
	left: 30;
	top: 250px;
	}



.triangle-left {
	width: 0;
	height: 0;
	border-top: 70px solid transparent;
	border-right: 100px solid black;
	border-bottom: 50px solid transparent;
	position:absolute;
	left: 130;
	top: 285px;

}

.circle3 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 210;
	top: 335px;
	}

.circle3:hover {
    background-color: red;
}

a:hover {
    color: red;
    text-decoration: none;
}

.circle4 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 260;
	top: 335px;
	}

.circle4:hover {
    background-color: red;
}

.circle5 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 310;
	top: 335px;
	}

.circle5:hover {
    background-color: red;
}

.circle6 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 360;
	top: 335px;
	}

.circle6:hover {
    background-color: red;
}

.circle7 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 410;
	top: 335px;
	}

.circle7:hover {
    background-color: red;
}

.circle8 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 460;
	top: 335px;
	}

.circle8:hover {
    background-color: red;
}

.circle9 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 510;
	top: 335px;
	}

.circle9:hover {
    background-color: red;
}

.circle10 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 560;
	top: 335px;
	}

.circle10:hover {
    background-color: red;
}

.circle11 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 610;
	top: 335px;
	}

.circle11:hover {
    background-color: red;
}

.circle12 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 660;
	top: 335px;
	}

.circle13 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 710;
	top: 335px;
	}

.circle13:hover {
    background-color: red;
}

.circle14 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 760;
	top: 335px;
	}

.circle14:hover {
    background-color: red;
}

.circle15 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 810;
	top: 335px;
	}

.circle15:hover {
    background-color: red;
}

.circle16 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 860;
	top: 335px;
	}

.circle16:hover {
    background-color: red;
}
.circle17 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 910;
	top: 335px;
	}

.circle17:hover {
    background-color: red;
}

.circle18 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 960;
	top: 335px;
	}

.circle18:hover {
    background-color: red;
}


.circle19 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1010;
	top: 335px;
	}

.circle19:hover {
    background-color: red;
}


.circle20 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1060;
	top: 335px;
	}

.circle20:hover {
    background-color: red;
}

.circle21 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1110;
	top: 335px;
	}

.circle21:hover {
    background-color: red;
}

.circle22 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1160;
	top: 335px;
	}

.circle22:hover {
    background-color: red;
}

.circle23 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1210;
	top: 335px;
	}

.circle23:hover {
    background-color: red;
}

.circle24 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1260;
	top: 335px;
	}

.circle24:hover {
    background-color: red;
}

.circle25 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1310;
	top: 335px;
	}

.circle25:hover {
    background-color: red;
}


.circle26 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1360;
	top: 335px;
	}

.circle26:hover {
    background-color: red;
}

.circle27 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1410;
	top: 335px;
	}

.circle27:hover {
    background-color: red;
}

.circle28 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1460;
	top: 335px;
	}

.circle28:hover {
    background-color: red;
}

.circle29 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1510;
	top: 335px;
	}

.circle29:hover {
    background-color: red;
}

.circle30 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-color: yellow;
	position:absolute;
	left: 1560;
	top: 335px;
	}

.circle30:hover {
    background-color: red;
}










