body{
    background-color:black;
}
.enter{
    color:white;
    font-size:26pt;
    font-family:"arial black";
}

.words{
    color:white;
     font-family: baskerville,'Libre Baskerville', serif;
    width:100%;
    text-align:center;
    margin-top:300px;
}

.image{
    float:left;
}
.image-wrapper{
    margin-top:50%;
    
    
}