body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.header {
    position: absolute;
    font-size: 60px;
    width: 900px;
    height: 60px;
    font-family: Didot;
    top:200px;
    left:100px;
    color:white;
    background-color: black;
}

.content {
    position: absolute;
    font-size: 15px;
    font-family: Didot;
    top: 75%;
    left:50%;
    color: white;
    line-height: 30px;
    background-color: black;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}


a:visited {
    color: #ffffff;
    text-decoration: none;
}


a:hover {
    color: red;
    text-decoration: none;
}


a:active {
    color: #ffffff;
    text-decoration: none;
}