body{
    background-color:black;
    color:#d5d5d5;
}

.one{
    font-size: 150;
    font-family:Cochin, arial, sans-serif;
}

.thumbsucker{
    float: left;
    position:absolute;
    z-index:-2;
    height:400px;
    border:40px solid red;
    display: inline-block;
    
}

.motherson{
    height:600px;
    display: inline-block;
    position:absolute;
    border:40px solid grey;
    
}

.motherson-wrapper:hover{
    background-color:red;
    display:inline-block;
    padding:25px;
}

.box{
    width:800px;
    height:800px;
    border:30px solid red; 
    margin: 5px;
    position: absolute;
    z-index: 0;
    top:600px;
    left: 150px;

}

.story{
    margin-top:400px;
    position:absolute;
    z-index:2;
}


.two{
    font-size:80;
    font-family:cochin;
}

.three{
    font-size:80;
    font-family:cochin;
}

.attack{
    font-size:100;
    background-color:red;
    font-family:"arial black";
}

.red{
    width:1000px;
    height:500px;
    position:absolute;
    z-index:-1;
    margin-left: auto;
    margin-right: auto;
}

.four{
    font-size:80;
    font-family:cochin;
}

.scissorman{
    float: right;
    height:500;
    border:60px solid red;
}

.oh{
    font-size:120;
    background-color:#d5d5d5;
    color:black;
    font-family:"arial black";
}

.five{
    font-size:80;
    font-family:cochin;
}

.snip{
    font-size:120;
    font-family:"arial black";
    
}

.ah2{
     font-size:100;
     font-family:"arial black";
    }

.teargif{
    float: left;
    position:absolute;
    display: inline-block;
    height:500px;
    border:60px solid red;
    z-index:-1;
    
    
}