body {
	background-color: black;
}

.target {
	color:black;
	position:absolute;
	font-size: 500;
	left: 300;
	top: 75px;
	text-decoration: none;

}


a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

.circle1 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 550px;
	height: 550px;
	background-color: red;
	position:absolute;
	left: 30;
	top: 100px;
	}


.circle2 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	background-color: white;
	position:absolute;
	left: 103;
	top: 175px;
	}

.circle3 {
	margin-left: auto;
    margin-right: auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	background-color: red;
	position:absolute;
	left: 200;
	top: 270px;
	}